body {
    padding: 0px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c6/Blackboard.png);
    background-size: cover;
}

h1 {
    padding: 0px;
    margin-top: 0px;
}

.header-katik> p {
    margin: 2px;
}

.header-katik {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    text-align: center;
}

.navigation> a {
    width: auto;
    background-color: gray;
    color: white;
    text-decoration: none;
}

/* INPUT SECTION */

.area-formula {
    display: flex;
    align-self: center;
    width: 150px;
    height: 150px;
}

h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 0px;
    color: white;
    width: 100%;
    background-color: gray;
}

ul {
    list-style-type: none;
    text-align: start;
    padding-left: 0px;
}

hr {
    color: gray;
    width: 100%;
    margin-bottom: 20px;
}

main {
    color: white;
}

.input-luas-section {
    display: flex;
    flex-direction: column;
}

#area-formula-text {
    text-align: center;
}

.katik-input {
    outline: none;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0px;
    border-color: gray;
}

#result-box {
    margin: 10px;
}

::placeholder {
    color: rgb(209, 207, 207);
}

.katik-input:focus {
    border-color: rgb(10, 136, 204);
}

.buttons {
    display: flex;
    align-self: center;
    gap: 20px;
    margin-top: 10px;
}

button {
    background-color: rgb(255, 122, 50);
    padding: 10px 20px;
    border-radius: 10px;
    width: 100;
    cursor: pointer;
}

button:hover {
    background-color: rgb(191, 90, 35)
}

button:active {
    background-color: rgb(112, 53, 21);
    transform: translateY(2px);
}